body {
    font-family: Arial, sans-serif;
    background-color: grey;
    margin: 0;
    padding: 0;
    color: #000;
}

h1 {
    background-color: #000;
    color: red;
    padding: 10px 0;
    text-align: center;
    margin: 0;
}
h1 a {
    color: red;
    text-decoration: none;
}

#compte-info {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: grey;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#compte-info p {
    margin: 0 0 10px;
    line-height: 1.6;
}

#compte-info span {
    font-weight: bold;
}