body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #1c1c1c;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f4f4f4;
}

h1, h2 {
    text-align: center;
    color: #f9a602;
}

h1 {
    font-size: 2.5em;
    margin-top: 20px;
    text-shadow: 2px 2px 4px #000000;
}

h2 {
    font-size: 2em;
    margin: 20px 0;
    text-shadow: 2px 2px 4px #000000;
}

a {
    color: #f9a602;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #ffffff;
}

img {
    max-width: 95%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    width: 80%;
    margin: 20px auto;
}

#poster {
    max-width: 500px;
    margin: 20px auto;
}

#recommendations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#recommendations .movie {
    width: 200px;
    margin: 10px;
    transition: transform 0.3s ease;
}

#recommendations .movie:hover {
    transform: scale(1.05);
}

#recommendations .movie img {
    width: 100%;
    height: auto;
}

#recommendations .movie h3 {
    font-size: 14px;
    text-align: center;
}

/* Styles pour les tablettes */
@media (max-width: 768px) {
    #recommendations .movie {
        width: 45%;
    }
}

/* Styles pour les mobiles */
@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    p {
        font-size: 1em;
        width: 95%;
    }

    #poster {
        max-width: 95%;
    }

    #recommendations .movie {
        width: 90%;
    }
}