body {
    background-color: #1c1c1c;
    color: #f4f4f4;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 10px;
    -webkit-font-smoothing: antialiased;
}

#top {
    background-color: #1c1c1c;
    height: 60px;
    padding: 10px 20px;
    width: 97%;
    z-index: 1;
}

#top h1 {
    color: #f9a602;
    font-size: 3em;
    line-height: 40px;
    text-shadow: 2px 2px 4px #000000;
}

#navbar, #myAccount, #account {
    float: right;
    display: flex;
}

#navbar li, #myAccount, #account li {
    display: inline-block;
    margin-left: 10px;
}

#navbar li a, #myAccount a, #account li button {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

#navbar li a:hover, #myAccount a:hover, #account li button:hover {
    color: #f9a602;
}

.films_recents {
    margin-top: 80px;
}

.films_recents h3 {
    color: #f9a602;
    font-size: 1em;
    margin-left: 20px;
    text-shadow: 2px 2px 4px #000000;
}

#movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}

#movies li {
    margin: 10px;
    width: 200px;
    transition: transform 0.3s ease;
}

#movies li:hover {
    transform: scale(1.05);
}

.movie-title {
    font-family: 'Arial', sans-serif;
    font-variant: small-caps;
    color: #f9a602;
}

.movie-date {
    font-family: 'Times New Roman', serif; 
    font-variant: small-caps;
    color: #f4f4f4;
}

#movies li img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
    border: none;
    outline: none;
    background-color: #f9a602;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 700;
    color: #1c1c1c;
    border-radius: 5px;
    transition: all ease 0.3s;
    box-shadow: 0px 5px 0px 0px #b37400;
}

button:hover {
    background-color: white;
    color: #f9a602;
}

button:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px rgba(255, 0, 0, 0.567);
}

ul {
    list-style-type: none;
}

/* Styles pour les tablettes */
@media (max-width: 768px) {
    #movies {
        flex-direction: column;
    }

    #movies li {
        width: 90%;
        margin: 10px auto;
    }
}

/* Styles pour les téléphones mobiles */
@media (max-width: 480px) {
    #movies {
        flex-direction: column;
    }

    #movies li {
        width: 100%;
        margin: 10px 0;
    }

    #top h1 {
        font-size: 20px;
    }

    .films_recents h3 {
        font-size: 1.5em;
    }
}
